## 線形系回帰予測を行なう 10本 Knock

### Knock41: Data を加工しよう

In [2]:
# Data の読み込み
from sklearn.datasets import load_boston

boston = load_boston()

import pandas as pd

df = pd.DataFrame(boston.data, columns=boston.feature_names)
df['MEDV'] = boston.target

from IPython.display import display

display(df.head())

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [3]:
# 説明変数・目的変数の分割

X = df[boston.feature_names[:13]]
y = df[['MEDV']]

display(X.head())
display(y.head())

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

   MEDV
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2

In [4]:
# 訓練 Data・Test data の分割
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

print(len(X_train))
display(X_train.head())
print(len(X_test))
display(X_test.head())

354

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
141,1.62864,0.0,21.89,0.0,0.624,5.019,100.0,1.4394,4.0,437.0,21.2,396.90,34.41
272,0.11460,20.0,6.96,0.0,0.464,6.538,58.7,3.9175,3.0,223.0,18.6,394.96,7.73
135,0.55778,0.0,21.89,0.0,0.624,6.335,98.2,2.1107,4.0,437.0,21.2,394.67,16.96
298,0.06466,70.0,2.24,0.0,0.400,6.345,20.1,7.8278,5.0,358.0,14.8,368.24,4.97
122,0.09299,0.0,25.65,0.0,0.581,5.961,92.9,2.0869,2.0,188.0,19.1,378.09,17.93

152

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
329,0.06724,0.0,3.24,0.0,0.460,6.333,17.2,5.2146,4.0,430.0,16.9,375.21,7.34
371,9.23230,0.0,18.10,0.0,0.631,6.216,100.0,1.1691,24.0,666.0,20.2,366.15,9.53
219,0.11425,0.0,13.89,1.0,0.550,6.373,92.4,3.3633,5.0,276.0,16.4,393.74,10.50
403,24.80170,0.0,18.10,0.0,0.693,5.349,96.0,1.7028,24.0,666.0,20.2,396.90,19.77
78,0.05646,0.0,12.83,0.0,0.437,6.232,53.7,5.0141,5.0,398.0,18.7,386.40,12.34

### Knock42: Data を Scaling しよう
#### Data の Scaling
複数の説明変数間での Data の尺度を揃えること。重回帰のような複数の説明変数を扱う線形系の Algorithm は、Data の尺度による影響が大きいため、正しく学習させるためには Data の Scaling が必要になる

##### Scaling の主な手法２つ
| 名称  | 概要                                    | 有効な Data 分布 |
|-----|---------------------------------------|-------------|
| 標準化 | 説明変数の平均が 0, 標準偏差が 1 になるように Scaling する | 正規分布        |
| 正規化 | 説明変数の値が 0 ~ 1 の範囲に収まるように Scaling する   | 一様分布        |
- 正規分布でも一様分布でもない場合などは、Robust Z-score という手法が用いられることもある。
- Scaling に正解はなく Model 精度と組み合わせていく。

In [5]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.fit_transform(X_test)

print(X_train_scaled[:3])
print(X_test_scaled[:3])

[[-0.20735619 -0.49997924  1.54801583 -0.26360274  0.58821309 -1.83936729
   1.10740225 -1.1251102  -0.61816013  0.20673466  1.2272573   0.42454294
   3.10807269]
 [-0.38886492  0.34677427 -0.58974728 -0.26360274 -0.79782145  0.32748658
  -0.36766106  0.07509    -0.73363701 -1.04949303  0.05696346  0.40185312
  -0.66643035]
 [-0.33573486 -0.49997924  1.54801583 -0.26360274  0.58821309  0.03790703
   1.04311378 -0.79998434 -0.61816013  0.20673466  1.2272573   0.39846135
   0.63936662]]
[[-0.45379523 -0.45888196 -1.2285158  -0.29277002 -0.7850976   0.14806054
  -1.7758721   0.61364717 -0.68477673  0.04137254 -0.74998219  0.26955997
  -0.79993845]
 [ 0.55063352 -0.45888196  1.04438686 -0.29277002  0.68330592 -0.0188666
   1.14170823 -1.23391041  1.59531227  1.49212109  0.88492032  0.18133643
  -0.49829647]
 [-0.44864325 -0.45888196  0.40044876  3.41565026 -0.01225364  0.20512964
   0.873911   -0.23183135 -0.57077228 -0.90530236 -0.99769469  0.4499995
  -0.36469248]]

### Knock43: 重回帰 Model を構築しよう
#### 重回帰
複数の説明変数を用いて１つの目的変数を予測する Algorithm

In [6]:
# 重会議 Model の構築
from sklearn.linear_model import LinearRegression

multi_reg = LinearRegression().fit(X_train_scaled, y_train)

In [7]:
# 予測値の算出
y_train_pred = multi_reg.predict(X_train_scaled)
y_test_pred = multi_reg.predict(X_train_scaled)

print(len(y_train_pred))
print(y_train_pred[:5])
print(len(y_test_pred))
print(y_test_pred[:5])

354
[[ 4.58009023]
 [28.38354012]
 [17.27775551]
 [29.39070404]
 [20.54476971]]
354
[[ 4.58009023]
 [28.38354012]
 [17.27775551]
 [29.39070404]
 [20.54476971]]